.canvas {
  background-color: #000;
  min-height: 450px;
}

@media screen and (max-width: 768px) {
  .canvas {
    min-height: 300px;
    display: flex;
    align-items: center;
  }

  .canvas canvas {
    min-height: 300px;
  }
}
