.image {
  width: 337px;
  height: 450px;
  background-color: transparent;
  top: 0;
  left: 0;
  display: none;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 3;
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.1);

  &.active {
    display: block;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

.image-link {
  position: relative;

  &:hover {
    color: #000;

    &:before {
      opacity: 1;
    }
  }

  &:before {
    content: "";
    width: 100vw;
    height: calc(100% + 2px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d1d5db;
    border-top: solid 1px #d1d5db;
    border-bottom: solid 1px #d1d5db;
    opacity: 0;
    transition: opacity 0.3s;
  }
}
